.footer {
  background-color: $bg-footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7.5rem 0;
  border-top-right-radius: 100px;

  img {
    margin-bottom: 3.6rem;
  }

  h4 {
    color: $text-white;
    font-size: 2rem;
    margin-top: 4.5rem;
    margin-bottom: 2.5rem;
  }

  a {
    color: $footer-text;
    font-size: 1.7rem;
    padding: 0.5rem;
  }
}

.footer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}